templates/amorce-secure-agent-workflow.json
{
    "name": "Amorce - Secure AI Agent Communication",
    "nodes": [
        {
            "parameters": {
                "content": "## 🔐 Amorce - Secure AI Agent Communication\n\nThis workflow demonstrates how to use the **Amorce** nodes to add cryptographic security to your AI agent communications.\n\n### What this does:\n1. **Sign requests** with Ed25519 signatures\n2. **Verify incoming requests** from other agents\n3. **Discover verified agents** from the Trust Directory\n\n👉 Get your Agent ID at [amorce.io/register](https://amorce.io/register)",
                "height": 280,
                "width": 400
            },
            "id": "sticky-intro",
            "name": "Welcome",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "content": "## 📝 Step 1: Configure Credentials\n\n1. Click the **Amorce Agent** node\n2. Add your **Agent ID** and **Private Key**\n3. Get these from [amorce.io/register](https://amorce.io/register)",
                "height": 180,
                "width": 300
            },
            "id": "sticky-step1",
            "name": "Step 1",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                0,
                320
            ]
        },
        {
            "parameters": {
                "content": "## 🔒 Step 2: Sign & Send\n\nThe Amorce Agent node:\n- Signs your payload with Ed25519\n- Adds timestamp (prevents replay attacks)\n- Includes your public key reference",
                "height": 180,
                "width": 300
            },
            "id": "sticky-step2",
            "name": "Step 2",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                340,
                320
            ]
        },
        {
            "parameters": {
                "content": "## ✅ Step 3: Verify Response\n\nThe response includes:\n- Verification status\n- Sender's agent ID\n- Original signed payload",
                "height": 180,
                "width": 300
            },
            "id": "sticky-step3",
            "name": "Step 3",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                680,
                320
            ]
        },
        {
            "parameters": {
                "operation": "sign",
                "recipientAgentId": "={{ $json.recipient_id }}",
                "payload": "={{ JSON.stringify($json.data) }}"
            },
            "id": "amorce-sign",
            "name": "Amorce Agent",
            "type": "n8n-nodes-amorce.amorceAgent",
            "typeVersion": 1,
            "position": [
                400,
                540
            ],
            "credentials": {
                "amorceApi": {
                    "id": "1",
                    "name": "Amorce Credentials"
                }
            }
        },
        {
            "parameters": {
                "mode": "manual"
            },
            "id": "manual-trigger",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                80,
                540
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "recipient_id",
                            "value": "weather-agent-123"
                        }
                    ],
                    "object": [
                        {
                            "name": "data",
                            "value": "={{ { \"action\": \"get_weather\", \"city\": \"Paris\" } }}"
                        }
                    ]
                }
            },
            "id": "set-data",
            "name": "Set Request Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                240,
                540
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.example-agent.com/chat",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-Amorce-Signature",
                            "value": "={{ $json.signature }}"
                        },
                        {
                            "name": "X-Amorce-Agent-Id",
                            "value": "={{ $json.agent_id }}"
                        },
                        {
                            "name": "X-Amorce-Timestamp",
                            "value": "={{ $json.timestamp }}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "payload",
                            "value": "={{ $json.payload }}"
                        }
                    ]
                }
            },
            "id": "http-request",
            "name": "Send Signed Request",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                560,
                540
            ]
        },
        {
            "parameters": {},
            "id": "output",
            "name": "Response",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                720,
                540
            ]
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Set Request Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Request Data": {
            "main": [
                [
                    {
                        "node": "Amorce Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Amorce Agent": {
            "main": [
                [
                    {
                        "node": "Send Signed Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Signed Request": {
            "main": [
                [
                    {
                        "node": "Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0
}